body{
    min-height: 100vh;
}

#containerthingie{
    min-height: 80vh;
}

#map{
    height: 90vh;
    width: 100%;
    display: none;
}

#canvas{
    height: 5vh;
    width: 100%;
    display: none;
}